<html lang="en">
<% include('../partials/head.ejs') %>
<body>

    <% include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
    <% if (blogs.length) { %>
        <% blogs.forEach((blog) => { %>
            <a class="single" href="/blogs/<%= blog._id %>">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
            </a>
        <% }) %>
    <% } else {%>
        <p>Sorry, there are no blogs yet</p>
    <% } %>
    <% include('../partials/footer.ejs') %>
</body>
</html>