<html lang="en">
<% include('./partials/head.ejs') %>
<body>
    
    <% include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas commodi libero unde vitae omnis odio. Dolorem accusantium explicabo quibusdam ea incidunt, libero deserunt vel eos assumenda impedit autem facilis nisi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, reiciendis eum, eligendi fugiat ad nam deserunt suscipit earum eveniet molestiae animi corporis quis esse repellendus quisquam vel expedita doloribus iure!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nostrum alias magni rem sed odit cupiditate accusamus dolorem recusandae ad voluptatum, magnam accusantium ipsa laudantium quae consequuntur fugit architecto distinctio.</p>
    </div>
    <% include('./partials/footer.ejs') %>
</body>
</html> 